html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body { 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}

p {
    font-size: 1.6rem;
}

.login-page {
    background-image: url(/img/dark-forest-login.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
    border-radius: 4px;
    border-color: rgba(125, 125, 125, 0.05);
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: rgba(225, 226, 227, 0.05);
}

input:not([type=submit]) {
    border-width: 0;
    border-radius: 2px;
    background-color: rgba(225, 226, 227, .5);
    padding: 1rem;
    margin-top: 1.25rem;
    color: white;
}

input[type=submit] {
    border-width: 0;
    border: none;
    padding: .7rem;
    border-radius: 4px;
    color: white;
}

.login-btn {
    margin-top: 5rem;
    background-color: rgba(108, 228, 28, 0.6);
    width: 60%;
    align-self: center;
}

.register-btn {
    margin-top: 2rem;
    background-color: rgba(189, 33, 33, .6);
    width: 60%;
    align-self: center;
}

.password-lost {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(207, 204, 204);
    align-self: flex-start;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.form-logo {
    width: 40%;
    align-self: center;
    margin-bottom: 2rem;
    filter: invert(95%);
}

.form-title {
    color: white;
    margin-bottom: 4rem;
    align-self: center;
}

.loby-page {
    background-image: url("/img/loby-background.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-list {
    margin: 5rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(37, 37, 37, 0.85);
    border-radius: 6px;
    overflow-y: scroll;
}

.room {
    color: white;
    margin: 3rem;
}

.room p {
    font-size: 3.5rem;
}

.room i {
    font-size: 6rem;
}

